p
{
text-align:center;
color:black;
font-family:tahoma;
}

p1
{
text-align:center;
color:black;
font-family:tahoma;
font-weight:bold;
}


h1
{
text-align:center;
color:black;
font-family:tahoma;
}


h3
{
text-align:center;
color:black;
font-family:tahoma;
}

tr
{
color:black;
font-family:tahoma;
}



body {background-color:#8EEBEC;} 